<div class="box">

  <form class="item" #f="ngForm" (ngSubmit)="f.form.valid && onGuardarPersona()">
    <input type="text" name="nombre" id="nombre" placeholder="Escriba su nombre" [(ngModel)]="nombreInput" required>

    <input type="text" name="apellido" id="apellido" placeholder="Escriba su apellido" [(ngModel)]="apellidoInput" required>
    <button type="submit" class="btn btn-primary" style="cursor: pointer;">+</button>
    <button *ngIf="indice != null" type="submit" style="cursor: pointer;" class="buttonRed" (click)="eliminarPersona()">-</button>
  </form>

</div>
